## Conectando ao MySQL

In [18]:
import mysql.connector
import os
from dotenv import load_dotenv


load_dotenv()

conn = mysql.connector.connect(
    host=os.getenv('DB_HOST'),
    user=os.getenv('DB_USER'),
    password=os.getenv('DB_PASSWORD'),
    database=os.getenv('DB_NAME')
    )
print(conn)

<mysql.connector.connection_cext.CMySQLConnection object at 0x000001D54CA4D450>

In [19]:
cursor = conn.cursor()

### Criando um DataBase

In [20]:
cursor.execute("CREATE DATABASE IF NOT EXISTS db_produtos;")

#### Criando tabelas no database

In [23]:
import pandas as pd

df_livros = pd.read_csv(r'C:\Users\Lucas\Desktop\Alura\Trilha data science\MongoDB, Python\data\livros.csv')

In [24]:
df_livros.head()

,_id,Produto,Categoria do Produto,Preço,Frete,Data da Compra,Vendedor,Local da compra,Avaliação da compra,Tipo de pagamento,Quantidade de parcelas,Latitude,Longitude
0,68b34de9d11378dbd2fed6be,Modelagem preditiva,livros,92.45,5.609697,2020-01-01,Thiago Silva,BA,1,cartao_credito,3,-13.29,-41.71
1,68b34de9d11378dbd2fed6bf,Iniciando em programação,livros,43.84,0.000000,2020-01-01,Mariana Ferreira,SP,5,cartao_credito,1,-22.19,-48.79
2,68b34de9d11378dbd2fed6d1,Iniciando em programação,livros,63.25,3.894137,2022-01-01,Juliana Costa,RJ,5,cartao_credito,4,-22.25,-42.66
3,68b34de9d11378dbd2fed6df,Ciência de dados com python,livros,86.13,5.273176,2021-02-01,Camila Ribeiro,RJ,4,cartao_credito,3,-22.25,-42.66
4,68b34de9d11378dbd2fed6e1,Ciência de dados com python,livros,72.75,1.458158,2021-02-01,Beatriz Moraes,PR,4,cartao_credito,2,-24.89,-51.55

In [25]:
df_livros.columns

Index(['_id', 'Produto', 'Categoria do Produto', 'Preço', 'Frete',
       'Data da Compra', 'Vendedor', 'Local da compra', 'Avaliação da compra',
       'Tipo de pagamento', 'Quantidade de parcelas', 'Latitude', 'Longitude'],
      dtype='object')

In [26]:
df_livros.shape

(742, 13)

In [28]:
cursor.execute('''
                CREATE TABLE IF NOT EXISTS db_produtos.tb_livros(
                id VARCHAR(100),
                Produto VARCHAR(100),
                Categoria_Produto VARCHAR(100),
                Preco FLOAT(10,2),
                Frete FLOAT(10,2),
                Data_Compra DATE,
                Vendedor VARCHAR(100),
                Local_Compra VARCHAR(100),
                Avaliacao_Compra INT,
                Tipo_Pagamento VARCHAR(100),
                Qntd_Parcelas INT,
                Latitude FLOAT(10,2),
                Longitude FLOAT(10,2),
                
                PRIMARY KEY (id));
               ''')

In [29]:
cursor.execute("USE db_produtos;")
cursor.execute("SHOW TABLES;")

for tb in cursor:
  print(tb)

('tb_livros',)